.form
  h3 Ну так что?

  .form-content
    .form-loading.missing.hidden
      .form-loading-loader
    .form-error.missing.hidden
      .form-error-message
    .form-success.missing.hidden
      .form-success-message
      .form-image
    .form-buttons
      button.form-button.good
        span.button-text Конечно приедем!
      button.form-button.meh
        span.button-text Пока не знаем...
      button.form-button.bad
        span.button-text У нас не получится :(
