.timer
  h3.timer__title Начало через
  .timer__countdown
    .timer__value.timer__days
      span.timer__number 142
      span.timer__text Дней
    .timer__value.timer__hours
      span.timer__number 12
      span.timer__text Часов
    .timer__value.timer__minutes
      span.timer__number 47
      span.timer__text Минут
    .timer__value.timer__seconds
      span.timer__number 12
      span.timer__text Секунд
