@use "./reset.scss";
@use "./var.scss";

@import "/src/components/invite/style.scss";
@import "/src/components/story/style.scss";
@import "/src/components/welcome/style.scss";
@import "/src/components/form/style.scss";
@import "/src/components/timer/style.scss";

// @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

html,
body {
  // font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;

  color: var.$darkBlue;
  background: var.$darkBlue;
}

.page {
  position: relative;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
