@use "./reset.scss";
@use "./var.scss";

@import "/src/components/invite/style.scss";
@import "/src/components/story/style.scss";
@import "/src/components/welcome/style.scss";
@import "/src/components/form/style.scss";
@import "/src/components/timer/style.scss";

html,
body {
  font-family: 'Inter';
  color: var.$darkBlue;
  background: var.$darkBlue;
}

.page {
  position: relative;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
