@use "/src/styles/var.scss";

.page__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 64px 0;
  color: var.$white-yellow;

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  a {
    color: rgb(200, 200, 256);
    outline: none;
    text-decoration: none;

    &:hover {
      color: rgb(240, 240, 256);
    }
  }
}

.flex {
  display: flex;
}
.flex__full-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}
.flex__column {
  @extend .flex;
  flex-direction: column;
}

@mixin pageBlock {
  @extend .page__block;
}
@mixin flexFullCenter {
  @extend .flex__full-center;
}
@mixin flexColumn {
  @extend .flex__column;
}
