$darkBlue: rgb(3, 63, 99);
$blue: rgb(40, 102, 110);
$red: rgb(222, 107, 72);
$pastel: rgb(251, 239, 221);
$whiteYellow: rgb(248, 255, 229);
$gray: rgb(214, 204, 194);
$pink: rgb(255, 181, 185);
$whitePink: rgb(252, 213, 206);
$green: rgb(204, 213, 174);
$whiteGreen: rgb(233, 237, 201);
$skyBlue: rgb(189, 224, 254);

$cream: rgb(254, 250, 224);

$linkDark: rgb(200, 200, 256);
$linkDarkHover: rgb(240, 240, 256);

$linkLight: rgb(0, 121, 145);
$linkLightHover: rgb(0, 161, 185);
