.story
  h3 Наша история

  .stories-wrapper
    .stories
      img.story__image(src="./photo/bureau.png" alt="Мы в Бюро")
      p Нас познакомили наши друзья в далеком 2022 году. Это был тёплый летний вечер 25 августа.
      p Наша первая встреча прошла в #[a(href="https://yandex.ru/maps/-/CLAdEXmR" target="_blank") Бюро] 🍔 на ул. Жуковского.
      p Поначалу было немного неловко, но очень скоро мы позабыли обо всём на свете, гуляя по центру города, не замечая времени за разговорами.
      p Так и завязалась наша история, которая спустя 4 года привела нас к новому этапу наших отношений — официальному созданию семьи.
