.gallery
  .gallery__content
    .gallery__background
    img.gallery__image(src="./photo/before/we-1.png")
    .gallery__headers
      h1.gallery__header Мы Влад и Настя
      h2.gallery__header И мы станем мужем и женой
      h2.gallery__header 25 августа 2026 года
