.gallery
  .gallery__content
    .gallery__background
    img.gallery__image(src="https://downloader.disk.yandex.ru/preview/a27c102800d62914cc2ef06f41093c8a3e13c6c7a35a2603bbbd32f60dc8bf56/6824050e/D0A6uDwH1eWX2aS4X1SoViFj36gY-kG4rCh6qHOzhUN4mKxfF9T8MIs979vRs5kzIbB2hZ0jKnNCrISOvi_DpA%3D%3D?uid=0&filename=IMG_0539.JPG&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v3&size=2048x2048", alt="шейх и наложница")
