.invite
  h3 Приглашаем вас на свадьбу!

  .pairs
    .keys
      .key Локация:
      .key Дата:
      .key Начало:
    .values
      .value Санкт-Петербург, #[a(href="https://zabereg.com" target="_blank") ЗаБерег]
      .value 25 августа 2026 года
      .value 12:00

  .hint Просьба приезжать заранее — за 20 минут до начала.
