.invite
  h3 Приглашаем на нашу свадьбу!

  .pairs-wrapper
    .pairs
      .pair
        .key Где
        .value Санкт-Петербург
      .pair
        .key Когда
        .value 25 августа 2026 года
      .pair
        .key Время
        .value
          .pair__time 12:00 — начало церемонии в #[a(href="https://yandex.ru/maps/-/CLA-zMi6") Дворце бракосочетания № 2]
          .pair__time 14:00 — едем до ресторана #[a(href="https://yandex.ru/maps/-/CLA-vEKZ") Шаляпин] (Репино) на чудесном автобусе
          .pair__time 23:00 — прекрасный автобус увозит нас обратно в Петербург
      .pair
        .key Дресс-код
        .value Романтичный и праздничный
      .pair
        .key Что дарить
        .value Ваше присутствие — главный подарок. Если вы хотите сделать нам сюрприз, мы будем рады вкладу в наш медовый месяц в Черногории

  .hint Просьба приезжать заранее — за 20 минут до начала.
