.invite
  h3.who.hidden Дорогие Пупсы!
  h3 Приглашаем на нашу свадьбу!

  .pairs-wrapper
    .pairs
      .pair
        .key Где
        .value Санкт-Петербург
      .pair
        .key Когда
        .value 25 августа 2026 года (вторник)
      .pair
        .key Время
        .value
          .pair__time 12:20 — начало церемонии во #[a(href="https://yandex.ru/maps/-/CLA-zMi6") Дворце бракосочетания № 2]
          .pair__time 13:00 — праздничное катание гостей на пати-басе по Петербургу
          .pair__time 15:00 — приезжаем в ресторан #[a(href="https://yandex.ru/maps/-/CLW8EG4G") Весенний] (наб. реки Фонтанки, 108)
          .pair__time 22:30 — окончание торжества
      .pair
        .key Дресс-код
        .value Однотонные пастельные оттенки
      .pair
        .key Что дарить
        .value Так как у нас уже есть всё для уютного дома, мы будем благодарны, если вы поддержите наш бюджет на свадебное путешествие

  .hint Просьба приезжать вовремя!
