@use "/src/styles/var.scss";
@use "/src/styles/mixin.scss";

.invite {
  @include mixin.pageBlockLight;
  background: var.$green;

  .pairs-wrapper {
    @include mixin.flexFullCenter;
  }
  .pairs {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 8px;
  }

  .pair {
    @include mixin.flexColumn;
    gap: 4px;
  }

  .key {
    font-size: 1.1rem;
    opacity: 0.8;
  }

  .pair__time + .pair__time {
    margin-top: 8px;
  }

  .hint {
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
  }

  .who {
    transition: opacity 1s ease;
    opacity: 1;
  }
  .who.hidden {
    opacity: 0;
  }
}
