@use "/src/styles/var.scss";
@use "/src/styles/mixin.scss";

.invite {
  @include mixin.pageBlock;
  background: var.$blue;

  .pairs-wrapper {
    @include mixin.flexFullCenter;
  }
  .pairs {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 8px;
  }

  .pair {
    @include mixin.flexColumn;
    gap: 4px;
  }

  .key {
    opacity: 0.7;
  }

  .pair__time + .pair__time {
    margin-top: 2px;
  }

  .hint {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    text-align: center;
    font-style: italic;
  }

  .who {
    transition: opacity 1s ease;
    opacity: 1;
  }
  .who.hidden {
    opacity: 0;
  }
}
