main.page
  //- maybe later
  //- .gradient-background

  include components/welcome/index.pug
  include components/invite/index.pug
  include components/story/index.pug
  include components/timer/index.pug
  include components/form/index.pug
